<div class="edit_climb">

<% ascend = Ascend.find(@climb[:ascend_id]) %>
<h2><%= ascend[:name] %></h2>

<br> <%= form_for([@user, @climb]) do |f| %>
<br>   <%= f.label "Notes from your climb" %>
<br>   <%= f.text_field :description %>
<br>   <%= f.label "How many Stars would you rate it?" %>
<br>   <%= f.select :stars, options_for_select([["0", "0"], ["1", "1"], ["2", "2"], ["3", "3"]]) %>
<br><br> <%= f.submit "Update Your Climb Status" %>
<% end %>

<% if @current_user.id == ascend.climbs.first.user_id %>
  <%= link_to "Edit this damn Climb", edit_user_climb_path  %>
<% end %>

</div>