<section class="login">


  <div class="intro-text-panel"><h2>The Station intends to document the climbing scene at Rat Rock in Central Park from a social perspective.</h2> 

  </div>

  <div class="login-form-panel">
    <h3>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    
    <%= form_tag('/login', :class => "login-user-form") do %>
      <br><%= label_tag :email %>
      <%= text_field_tag :email %>
      <br><%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag("Login", :class => "login-user") %>
    <% end %>
    <span class="create-account"><%= link_to "Create an Account", new_user_path %></span>
    </h3>
  </div>

</section>


<section class="why-climb">

   <div class="users-text-panel">
    <p>This site could not have been coded without the incomparable assistance of the new guidebook, <a href="http://stores.sharpendbooks.com/-strse-71/New-York-City-Bouldering/Detail.bok">NYC Bouldering</a>, written by Gaz Leah. He's an awesome guy, and anyone interested in climbing should pick up the book at the <a href="http://thecliffsclimbing.com/lic/">Cliffs LIC</a>. <br><br>Hope to see you at Rat Rock or the gym! <br><br>Matt</p>
  </div>

</section>