<section class="login">


  <div class="text1">This site intends to document the climbing scene at Rat Rock in Central Park from a social perspective. Please login or create an account to access Grand Send Station.

  </div>

  <div class="text1">
    
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    
    <%= form_tag('/login') do %>
      <br><%= label_tag :email %>
      <%= text_field_tag :email %>
      <br><%= label_tag :password %>
      <%= password_field_tag :password %>
      <br><br><%= submit_tag "Login" %>
    <% end %>
    
    <br>
    <%= link_to "Create an Account", new_user_path %>
  
  </div>

</section>


<section class="why-climb">

  <div class="text1">

    <img src="https://dl.dropboxusercontent.com/u/66973480/matts_images/IMG_0151.jpg">

  </div>

</section>