<div class="text1edit">
edit your deets, brah
<%= form_for(@current_user), :url => users_path, :html => { :multipart => true } do |form| %>
<br>  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %>
<br>  <%= f.label :email %>
  <%= f.text_field :email %>
<br>  <%= f.label :climber_name %>
  <%= f.text_field :climber_name %>
  <br>  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <br>  <%= f.label :avatar, 'Avatar Image' %>
  <%#= f.text_field :avatar %>
  <%= f.file_field :avatar %>
  <br>  <%= f.label :description %>
  <%= f.text_field :description %>
 <br> <%= f.label :password %>
  <%= f.password_field :password, :required => true %>
 <br> <%= f.label :confirmation%>
  <%= f.password_field :password_confirmation, :required => true  %><br>
 <br> <%= f.submit "Update Account" %>
<% end %>
</div>