<div class="users-text-panel">
  <p>Check out some of the climbers in our community.</p>
  <% @users.each do |user| %>
  <li>name: <a href="/users/<%= user[:id] %>"><%= user[:name] %></a>
<% end %>
</div>

<div class="users-text-panel">
	
		A selection of recently done routes:

    <% rec_climb = Ascend.find(:all, :order => "id desc", :limit => 1).reverse %>
    
    <% rec_climb.each do |ascend| %>  
			
			<% if ascend.users.last != nil %>
			
				<a href="ascends/<%= ascend.id %>"><%= ascend.name  %></a> | <a href="users/<%= ascend.users.last.id %>"><%= ascend.users.last.name %></a><br>
      <% else %>
        <p><em>Someone better get on these routes!</em></p>
     
     <% end %>

    <% end %> 

</div>