Hi, <%= @user.email %>
<br><% session %>
<%# TODO display personal climbs here with links to the routes %>
<% @user.climbs.each do |climb| %>
  <% ascend = Ascend.find(climb[:ascend_id]) %>
  <br>
  <li><a href="/ascends/<%= climb[:ascend_id] %>"><%= ascend[:name] %></li>
  <li><%= link_to 'Add some details to this climb', edit_user_climb_path(@user, climb) %></li>
  <br>
  <br>
  <br>
  <br>
<% end %>
<br>
<%= link_to 'Add a new climb to your done list', new_user_climb_path(@user) %>
