

  <div class="unit three-fifths">

      <% if @user.climbs.count > 1 %>
      <div class="users-text-panel">
        <ul>
          <% @user.climbs.each do |climb| %>
          <% ascend = Ascend.find(climb[:ascend_id]) %>
          <li><a href="/ascends/<%= climb[:ascend_id] %>"><%= ascend[:name] %></a><% if @current_user.id == @user.id %> |
            <%= link_to 'Add Details', edit_user_climb_path(@user, climb) %><% end %>
          </li>
          <br>
          <% end %>
        </ul>
      </div>
      <% end %>

      <% if @current_user == @user.id %>
      
        <div class="users-text-panel">
        <h3><%= link_to 'Add a new climb to your tick list', new_user_climb_path(@user) %></h3>
        </div>
      
      <% end %>

  </div>


  <% if @user.avatar.present? %>
    <div class="unit two-fifths">

      <div class="avatar">
        <%= image_tag @user.avatar.url(:medium) %>
      </div>

    </div>
  <% end %>
