<div class="ascends-text-panel">
	<li>Name: <%= @ascend[:name] %></li>
	<li>Difficulty: <%= @ascend[:grade] %></li>
	<li>Face location: <%= @ascend[:face_location] %></li>
	<% if @ascend[:is_dangerous] %>
	<li>Is this climb dangerous? <%= @ascend[:is_dangerous] %></li>
	<% end %>
	<% if @climbs.any? %>
	<li>Star Rating: <%= @climbs[0].stars %></li>
	<% end %>
</div>


<% @climbs.each do |climb| %>
<div class="ascends-text-panel">
	<div class="notes">
		<div class="text1">
			<ul>
				
				<li>Route notes: <a href="../users/<%= climb.user.id %>"><%= climb.user.name.titleize %></a>
					<% if @current_user.id == climb.user.id %>
						<a href="/users/<%= @current_user.id %>/climbs/<%= climb.id %>/edit/">edit</a>
					<% end %> </li>
				
				<li><div class="time"><%= climb[:name] %><%= climb[:created_at].to_formatted_s(:long) %></li>
				<li><%= climb[:description] %></li>
				
				</div>
			</div>
			</div>
		</div>
		<% end %>