<div class="text1">
<li>Name: <%= @ascend[:name] %></li>
<li>Difficulty: <%= @ascend[:grade] %></li>
<li>Face location: <%= @ascend[:face_location] %></li>
<% if @ascend[:is_dangerous] %>
<li>Is this climb dangerous? <%= @ascend[:is_dangerous] %></li>
<% end %>
<% if @climbs.any? %>
  <li>Star Rating: <%= @climbs[0].stars %></li>
<% end %>
</div>
<% @climbs.each do |climb| %>
  <div class="notes">
  <div class="text1">
  <ul><li>Route notes: <%= climb.user.climber_name || climb.user.name %>
    <div class="time"><%= climb[:name] %><%= climb[:created_at].to_formatted_s(:long) %></div></li></ul>
  <%= climb[:description] %></div>
  </div>
<% end %>