<header role="banner">
  <nav>
    <div class="container grid">
      <div class="unit three-fifths">
        <h1>Welcome to the Grand Send Station</h1>
        <%= render '/layouts/weather' %>
      </div>

        <div class="user_edit">
          <p>
          <% if session[:user_id] %>
          <%= render 'layouts/logged' %>
          <% end %> |
          <%= link_to 'Crags', '/crags' %> | <%= link_to 'Main', '/users' %> |
          <% if session[:user_id] %>
          <%= link_to 'Logout', "/logout" %>
          <% end %>
        </p>
        </div>

    </div>
  </nav>
</header>
