<!DOCTYPE html>
<html>
<head>
  <title>Grand Send Station</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <%= flash[:notice] %>
  <div class="spacer-main">&nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
  </div>

  <section class="container">

    <%#= render 'layouts/messages' %>
    <%= yield %>

  </section>
</body>
</html>

