<!DOCTYPE html>
<html>
<head>
  <title>Grand Send Station</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <%= flash[:notice] %>
  <section class="container">

      <%#= render 'layouts/messages' %>
    <%= yield %>
  <br><br><br>
  </section>
  </body>
</html>

